      body{
             font-family:"gill sans",arial,sans-serif;
             border:3em solid #999;
             padding:1em;  
          }
     a{color:#369;}
     h1{font-size:120%;}
     h2{font-size:110%;}
